.col-1-2__man_text{
  width: 70%;
  background-color: $color-darkblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 180px;
  padding-top: 103px;

  &__top{
    font-size: 16px;
    color: $color-white;
    padding-bottom: 180px;
  }

  &__title{
    font-size: 64px;
    color: $color-white;

  }
  &__subtitle{
    font-size: 36px;
    color: $color-white;
    padding-right: 180px;
    padding-bottom: 40px;
  }
  &__bottom{
    font-size: 16px;
    color: $color-sky-blue;
  }
}

.col-1-2__man{
  width: 30%;
}

