.contacts-content{
  display: flex;
  flex-wrap: wrap;
  color: $color-dark-blue;

  @media (max-width: 940px) {
    flex-direction: column;
  }

  .contacts-right{
    width: 40%;
    display: flex;
    padding-top: 98px;
    padding-left: 40px;
    line-height: 23px;
    @media (max-width: 940px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }

  .contacts-left{
    display: flex;
    width: 55%;
    @media (max-width: 940px) {
      width: 100%;
      justify-content: center;
    }
  }
  .contacts-text{
    width: 33%;

    &__title{
      font-size: 14px;
      padding-bottom: 40px;
    }
    &__subtitle{
      font-size: 14px;
      padding-right: 68px;
    }
  }
  .contacts-address{
    width: 33%;

    &__title{
      font-size: 14px;
      padding-bottom: 40px;
    }
    &__subtitle{
      font-size: 14px;
      padding-right: 68px;
    }
    &__link{
      font-size: 14px;
    }
  }
  .contacts-work-hours{
    width: 33%;

    &__title{
      font-size: 14px;
      padding-bottom: 40px;
    }
    &__subtitle{
      font-size: 14px;
      padding-right: 68px;
    }
  }
}
