.footer-info{
  height: 45px;
  width: 1440px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-sky-blue;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  padding-top: 32px;
  padding-left: 194px;
}