.body {
  margin: 0;
}

.site-content {
  @media (max-width 940px) {
    display: flex;
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  @media(max-width: 940px) {
    flex-direction: column;
  }
}

.why-thrive-left {
  width: 50%;
  box-sizing: border-box;
  @media (max-width: 940px) {

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.why-thrive-right {
  box-sizing: border-box;
  width: 50%;

  &__img {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 940px) {

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}


.doings-section {
  box-sizing: border-box;

  @media (max-width: 940px) {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.doings-section {
  width: 33.333%;
  @media (max-width: 940px) {
    width: 100%;

  }
}
