.col-1-4-info{
  width: 100%;
  display: flex;
  color: #22356f;

  .col-1-4-info-text{
    width: 60%;
    display: flex;
    padding-top: 98px;
    padding-left: 68px;
    line-height: 23px;
  }

  .col-1-4-info__pic{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
  }
  .col-1-4-info__col1{
    width: 33%;

    &__title{
      font-size: 14px;
      padding-bottom: 40px;
    }
    &__subtitle{
      font-size: 14px;
      padding-right: 68px;
    }
  }
  .col-1-4-info__col2{
    width: 33%;

    &__title{
      font-size: 14px;
      padding-bottom: 40px;
    }
    &__subtitle{
      font-size: 14px;
      padding-right: 68px;
    }
    &__link{
      font-size: 14px;
    }
  }
  .col-1-4-info__col3{
    width: 33%;

    &__title{
      font-size: 14px;
      padding-bottom: 40px;
    }
    &__subtitle{
      font-size: 14px;
      padding-right: 68px;
    }
  }
}
