.col-1-2__you-should{
  margin-top: 40px;
  width: 50%;
  display: flex;

}

.should-content{
  margin-top: 103px;
  &__title{
    font-size: 16px;
    color: #22356F;
    margin-bottom: 225px;
  }
  &__subtitle{
    font-size: 36px;
    color: #22356F;
    margin-bottom: 180px;
    margin-right: 150px;
  }
  &__bottom{
    font-size: 16px;
    color: #FAB63E;
  }
}