
/*
info top
*/
$font-black: #292929;
$font-purple: #A259FF;
$font-gray: #4F4F4F;
$font-lite-gray: #696969;
$font-blue: #1ABCFE;

/*
landing-top
*/
$background-color: #F4F9E2;
$font-sky-blue: #62D0DF;
$font-dark-blue: #22356F;
$font-white: #FFFFFF;
$btn-text: #FAB63E;
$btn-background-yellow:#F9B640;

/*
blue-block
*/

$background-color-blue: #62D0DF;
$font-white: #FFFFFF;

/*
about-us-block
*/
$background-color-white: #FFFFFF;
$font-color-blue: #22356F;
$background-about-pink: #FFE2DE;
$background-about-green: #C4E769;
$background-about-lightblue: #62D0DF;
$background-about-blue: #0052C1;

/*
6-block-grid
*/

$background-color-darkblue: #22356F;
$background-color-blue: #0052C1;
$background-color-skyblue: #62D0DF;
$background-color-pink:  #DEE1FF;
$background-color-purple: #8F00FF;



