$color-gray-background: #E5E5E5;
$color-black: #292929;
$color-purple: #A259FF;
$color-gray: #4F4F4F;
$color-lite-gray: #696969;
$color-blue: #1ABCFE;
$color-light-yellow: #f4f9e2;
$color-sky-blue: #62D0DF;
$color-dark-blue: #22356F;
$color-white: #FFFFFF;
$color-yellow: #FAB63E;
$color-pink: #FFE2DE;
$color-green: #C4E769;
$color-blue: #0052C1;
$color-pink: #DEE1FF;
$color-purple: #8F00FF;



