
/*
info top
*/
$color-black: #292929;
$color-purple: #A259FF;
$color-gray: #4F4F4F;
$color-lite-gray: #696969;
$color-blue: #1ABCFE;

/*
landing-top
*/
$color-light-yellow: #F4F9E2;
$color-sky-blue: #62D0DF;
$color-dark-blue: #22356F;
$color-white: #FFFFFF;
$color-yellow: #FAB63E;

/*
about-us-block
*/
$color-white: #FFFFFF;
$color-dark-blue: #22356F;
$color-pink: #FFE2DE;
$color-green: #C4E769;
$color-sku-blue: #62D0DF;
$color-blue: #0052C1;

/*
6-block-grid
*/

$color-darkblue: #22356F;
$color-blue: #0052C1;
$color-sky-blue: #62D0DF;
$color-pink:  #DEE1FF;
$color-purple: #8F00FF;



