.col-1-3-blocks {

  height: 240px;
  &__title {
    margin-top: 115px;
    margin-left: 105px;
    margin-bottom: 28px;
    font-size: 28px;
  }

  &__subtitle {
    font-size: 16px;
    padding-right: 75px;
    margin-left: 105px;
  }
}