@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'variables';
@import 'page-header';
@import 'block_empty_space';
@import 'block-landing-top';
@import 'grid';
@import 'block-why-thrive';
@import 'block-about-us';
@import 'block-about-us-section';
@import 'block-doings';
@import 'block-training-description';
@import 'block_you_should_also';
@import 'block-smile';
@import 'block-contacts-info';
@import 'page-footer';

.body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.site-content {
  width: 100%;


  @media (max-width: 940px) {
    width: 100%;
  }
}
